*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.main-card{
    background-color: #090808be;
    width: 500px;
    max-width: 90%;
    height:500px;
    border-radius: 20px;
   display: grid;
    justify-content:center;
   margin-top:100px;
   align-items: center;
}
.Switches{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
}
button{
    padding: 18px;
    border-radius:2%;
    border: none;
    font-size: 18px;
}
button :hover{
    background-color: #ddd;
}
 input{
    display: flex;
    justify-content: center;
    width:100%;
    height: 60px;
    text-align: right;
    font-size: 25px;
    outline: none;
    border-radius: 2px;
    border: none;
}
.operator{
    background-color: #ff9500;
    color: white;
    font-weight:bold;
    font-size: 20px;
}
.operator :hover{
  background-color: white;
}